{% extends 'main.html' %} {% block content %} {% if page == 'login' %}
<div>
  <form action="" method="POST">
    {% csrf_token %}

    <label for="">Username</label>
    <input type="text" name="username" placeholder="Enter Username" />

    <label for="">Password</label>
    <input type="password" id="" name="password" placeholder="Enter Password" />

    <input type="submit" value="Login" />
  </form>
  <p>Not Signed Up ?</p>
  <a href="{% url 'register' %}">Sign up</a>
</div>
{% else %}
<div>
  <form action="" method="POST">
    {% csrf_token %} {{form.as_p}}
    <input type="submit" value="Register" />
  </form>
  <p>Already Signed Up ?</p>
  <a href="{% url 'login' %}">Login</a>
</div>
{% endif %} {% endblock content %}
